.App {
  text-align: left;
  margin: auto;
  width: 80%;
}

header {
  background-color: black;
  height: 40px;
  display: flex;
  flex-direction: column;

}

#logo {
  width: 250px;
  padding: 12px;
}

.product-container {
  display: flex;
  float: left;
}
