.App {
  text-align: left;
  margin: auto;
  width: 80%;
}

header {
  background-color: black;
  height: 40px;
  display: flex;
  flex-direction: column;

}

#logo {
  width: 250px;
  padding: 12px;
}

.product-container {
  display: flex;
  float: left;
}

.button-container {

}

button {
  border-radius: 4px;
  height: 40px;
  width: 120px;
  padding: 4px;
}

.teal {
  background-color: #008383;
  color: white;
  border: none;
}

.white {
  background-color: white;
  border-color: #008383;
  color: #008383;
}
